html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    font-size: 18px;
    overflow: hidden;
}

.navlink {
    border: 1px solid black;
    text-align: center;
    width: 25%;
    padding: 18px;
}

.intro {
    text-align: center;
}