html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
    background-image: linear-gradient(black,rgb(31, 1, 31));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    font-size: 18px;
    overflow: hidden;
}

.navlink {
    text-decoration: none;
    color: white;
    background-color: rgb(26, 6, 27);
    border: 1px solid black;
    text-align: center;
    width: 25%;
    padding: 18px;
    transition: all 0.3s ease;
}

.navlink:hover {
    background-color: rgb(38, 9, 39);
}

.intro {
    padding-top: 5%;
    text-align: center;
}

.content {
    text-align: center;
}

.description {
    padding-top: 20px;
    padding-left: 40px;
}

.showcaselist {
    padding-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.showcase {
    text-decoration: none;
    color: white;
    width: 90%;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.showcase:hover {
    background-color: rgb(97, 22, 97);
}

.writeup p {
    font-size: 18px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 70%;
}

.writeup img {
    padding: 20px;
    width: 55%;
}